/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .padd-text{
        margin-left: 0px;
        margin-right: 0px;
    }

    .navbar{
        background-color: #e4efe7;
    }

    .padding{
        padding-left: 0px;
        padding-right: 0px;
        position: absolute;
    }

    #navbarScroll .nav-a{
        color: #064420;
    }
    .first-p{
        font-size: 25px;
        color: #064420;  
    }
    .head-text{
        font-size: 30px;
        color: #064420;
    }

    .second-p{
        color: #064420;
    }
    .d-flex{
        flex-direction: column;
    }

    .text-hover{
        padding-left: 50px;
        padding-right: 50px;
    }

    /* styling for about section */
    .navbar-about{
        background: transparent;
    }

    .about-m{
        margin-top: 15rem !important;
    }
}

