body{
    margin: 0px;
    padding: 0px;
}
.mycolor{
    background-color: #14a0dd;
}

#navbarScroll .nav-a{
    color: #14a0dd !important;
}

#navbarScroll .navbar-nav a{
    color: #fff;
}
/* ======= second section ====== */
.header-text{
    display: flex;
    color: #fff;
}

.body-color{
    background-color: #14a0dd;
    height: 100vh;
    padding-top: 180px;
}

.body-image{
    background: linear-gradient(rgba(20, 160, 221, 0.4), rgba(20, 160, 221, 0)), url("../img/phone.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}

.first-p{
    margin-bottom: -0rem;
    font-size: 50px;
}
.head-text{
    font-size: 70px;
}
.second-p{
    font-size: 15px;
}
.padding{
    padding-left: 100px;
    padding-right: 100px;
}

.btn-style{
    background-color: #fff;
    color: #14a0dd;
}

section>#design a{
    text-decoration: none;
}

#design a:hover{
    text-decoration: none;
}
